@use "theme";

.livres-en-cours-container {
  display: flex;
  margin: 0;
}

.content {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0;
}

.livres-container.livres-en-cours {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  overflow-y: auto;
  height: 260px;
  width: 620px;
  scrollbar-color: #f3beba whitesmoke;
  margin-right: 70px;
}

.livres-container.pile-a-lire {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  overflow-y: auto;
  height: 260px;
  width: 420px;
  scrollbar-color: #f3beba whitesmoke;
  margin-right: 80px;
}

.livres-container.livres-lus {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  overflow-y: auto;
  height: 260px;
  width: 420px;
  scrollbar-color: #f3beba whitesmoke;
}

.decorative-image {
  height: 200px;
  max-width: 400px;
  margin-bottom: 40px;
}

.livres-title {
  font-family: 'Dancing Script', cursive;
  font-size: 26px;
  font-weight: bold;
  color: theme.$noir-ecriture;
  margin-left: 28px;
  text-align: left;
}


.titres-pile-lus {
  display: block;
  margin: 0;
}

.titre-pile-a-lire,
.titre-livres-lus {
  display: inline-block;
  margin-top: 15px;
  font-family: 'Dancing Script', cursive;
  font-size: 26px;
  font-weight: bold;
  color: theme.$noir-ecriture;
}

.titre-pile-a-lire{
  margin-left: 15px;
}
.titre-livres-lus {
  margin-left: 520px;
}

.pile-a-lire-et-livres-lus-container {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
  margin: 0;
}
.progress-bar-container {
  width: 920%;
  position: relative;
  margin-left: 14px;
}
