@use "src/theme";
nav {
  height: 80px;
  background: linear-gradient(to right, theme.$rose-fonce, theme.$rose-clair);
  position: fixed;  // Change la position en 'fixed'
  top: 0;           // Fixe la barre en haut de la page
  left: 0;
  width: 100%;      // Assure-toi que la barre occupe toute la largeur de l'écran
  z-index: 1000;    // Ajoute un z-index élevé pour qu'elle soit toujours visible au-dessus des autres éléments
  div {
    height: 100%;
    display: flex;
    align-items: center;

    img {
      margin-left: 20px;
      height: 60px;
      transition: .3s;

      &:hover {
        transform: scale(1.1);
      }
    }

    .active {
      text-decoration: underline;
    }
  }
}

.mat-nav-list {
  margin-left: 50px;
  padding: 0;
  display: flex;
}

.mat-list-base .mat-list-item {
  width: 125px;
  font-size: large;
  color: theme.$beige-ecriture;
  transition: .3s;

  &:hover {
    transform: scale(1.2);
  }
}

.titre-bookish {
  margin-left: 20px;
  color: theme.$beige-ecriture;
  font-weight: bold;
  font-size: 300%;
}

.image-hiboux {
  position: absolute;  // Ajoute un positionnement absolu
  right: 20px;         // Place l'image à droite
  bottom: -20px;       // Fais en sorte que l'image dépasse de 20px vers le bas
  transform: scale(1.5);
  margin-right: 30px;
  img {
    height: 100px;     // Augmente la taille de l'image pour qu'elle dépasse visuellement
    transition: .3s;

    &:hover {
      transform: scale(1.1);
    }
  }
}
