.progress-container {
  width: 10%;
  height: 20px;
  border-radius: 15px;
  background-color: #ffffff;
  position: relative;
  overflow: hidden;
  border: 1px solid #d88f89;
  display: flex;
  margin-bottom: 8px;
  margin-top: 8px;
}

.progress-bar {
  height: 100%;
  background-color: #f3beba;
  border-radius: 15px;

}

.progress-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1em;
  color: #152b3e;
}
