.progress-container {
  width: 10%;
  height: 20px; /* Ajustez selon vos besoins */
  border-radius: 15px; /* Pour arrondir les bords */
  background-color: #ffffff; /* Couleur de fond de la barre */
  position: relative; /* Position pour le texte centré */
  overflow: hidden; /* Cache le texte qui dépasse */
  border: 1px solid #d88f89;
  display: flex; /* Utilise flexbox pour aligner les éléments */
  margin-bottom: 8px; /* Espace entre chaque barre de progression */
  margin-top: 8px;
}

.progress-bar {
  height: 100%;
  background-color: #f3beba; /* Couleur de la barre de progression */
  border-radius: 15px; /* Même valeur pour arrondir */
  //transition: width 0.3s; /* Pour une animation douce lors de l'augmentation de la largeur */
}

.progress-text {
  position: absolute; /* Pour positionner le texte au centre */
  top: 50%; /* Positionne le texte verticalement au centre */
  left: 50%; /* Positionne le texte horizontalement au centre */
  transform: translate(-50%, -50%); /* Ajuste la position pour centrer le texte */
  font-size: 1em; /* Ajustez la taille du texte */
  color: #152b3e; /* Couleur du texte */
}
